body{
	margin:10px;
}

img {
	margin: 10px;
}

img[ng-click] {
	cursor: pointer;
}

table > thead > tr > th {
	text-align: center;
}

table > tbody > tr.success {
	background-color: rgba(0, 255, 0, .3) !important;
}

table > tbody > tr.danger {
	background-color: rgba(255, 0, 0, .3) !important;
}

table > tbody > tr.warning {
	background-color: rgba(255, 255, 0, .3) !important;
}

input {
	/*background-color: transparent;*/
}